VideoChatSolution/.vs/VideoChatSolution/v15/Server/sqlite3/storage.ide-wal
VideoChatSolution/.vs/VideoChatSolution/v15/Server/sqlite3/storage.ide-shm
VideoChatSolution/.vs/VideoChatSolution/v15/Server/sqlite3/storage.ide
VideoChatSolution/.vs/VideoChatSolution/v15/Server/sqlite3/db.lock
VideoChatSolution/Models/obj/
VideoChatSolution/ServiceLayer/obj/
VideoChatSolution/ServiceLayer/bin/
VideoChatSolution/DAL/obj/
VideoChatSolution/Models/bin/
VideoChatSolution/Bootstrapper/bin/
VideoChatSolution/Bootstrapper/obj/
VideoChatSolution/DAL/bin/
